.container {
    display: flex;
    background-color: #1f2937;
    padding-block: 24px;
    max-width: 100%;

}

.header {
    font-size: 24px;
    color: #f9faf8;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.list,
.headerlist {
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    justify-content: space-around;
    align-items:flex-end;
    flex-basis: 100%;
    gap: 10px;
    list-style: none;
}
.hero,
.containertwo {
    display: flex;
    flex-direction: row;
    background-color: #1f2937;
}
.awesome {
    text-align: left;
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder ;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
p {
    text-align: left;
    font-size: 18px;
    color: #E5E7EB;
}
.button {
    background-color: #3882F6;
    color: white;
}
.placeholder {
    text-align: center;
    color:#f9faf8;
    width: 500px;
    height:200px;
    background-color: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 90px;
}
.place {
    font-size: 16px;
    color: #f9faf8;
    display: flex;  
}
.secondheader {
    display: flex;
    background-color: white;
    justify-content: center;
    justify-content: space-evenly;
    color:#1f2937;
}
.random {
    display: flex;
    justify-content: center;
    font-size: 36px;
  font-weight: bolder;
  color: #1f2937;
}
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 3em 0 6em 0;
    gap: 4em;
}
.images {
    text-align: center;
    max-width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5em;
}
.text {
    color: #1F2937;
}
.containerfour {
    display: flex;
    background-color: #e5e7eb;
    max-width: 100%;
}
.quote {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
    text-align: center;
    display: flex;
    align-content: space-around;
    justify-content: center;

}
.thor {
    color: #1f2937;
    display: flex;
    align-content: space-around;
    justify-content: center;
    align-items: flex-end;
}
.sign-up {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5em 20em;

}
.action-div {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #3882F6;
    padding: 3em;
    width: 100%;
    border-radius: 10px;
}
.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}
.footer1 {
    color: #F9FAF8;
    font-size:medium;
    padding-bottom: 20px;
}